.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 15%;
  text-decoration: none;
}

.App-link {
  color: #09d3ac;
}

li{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}

#main{
  background-color: grey;
  width: 85%;
}

button {
  background-color: #232C31;
  border-radius: 5px;
  color: white;
  padding: 5px;
  border: solid 1px white;
  margin: 5px;
}

button:hover{
  background-color: white;
  color: black;
  border: solid 2px black;
}

#footer{
  width: 100%;
  height: auto;
  word-wrap: break-word; 
  background-color: #e6e6e6;
  color: #49167d;
  text-align: center;
  font-size: 1.5rem;
  bottom: 0;
}

#sayKarenLogo {
  height: 3.2rem;
}