@import './variables.scss';

#footer{
    width: 100%;
    word-wrap: break-word; 
    background-color: $secondary-color;
    color: $highlight-color;
    text-align: center;
    font-size: 1.5rem;
    bottom: 0;
    padding: 1rem;
  }
  
  #sayKarenLogo {
    height: 3.2rem;
  }

