@import './variables.scss';

.hamContainer {
    display: inline-block;
    cursor: pointer;
    padding: 1rem;
}

.hamburger1, .hamburger2, .hamburger3 {
    width: 35px;
    height: 5px;
    background-color: $highlight-color;
    margin: 6px 0;
    transition: 0.4s;
}

/*Rotate first bar */
.changehamburger1 {
    width: 35px;
    height: 5px;
    background-color: $highlight-color;
    margin: 6px 0;
    transition: 0.4s;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.changehamburger2 {
    width: 35px;
    height: 5px;
    background-color: $highlight-color;
    margin: 6px 0;
    transition: 0.4s;
    opacity: 0;
}

.changehamburger3 {
    width: 35px;
    height: 5px;
    background-color: $highlight-color;
    margin: 6px 0;
    transition: 0.4s;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

